{% extends 'base_lojista.html' %}



{% block content %}
    <h1 class="text-center text-danger">Manutenções</h1>
        <!-- Search BAR-->
        <div class="container p-3 justify-content-between">
            <div class="row justify-content-between">
                <form method="GET" action="{% url 'manutencoes' %}" class="col">
    
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-8 col-md-8 col-sm-6 row">
                            <div class="form-floating col-4">
                                    <input type="text" name="search" id="search" class="form-control col" placeholder="Search">
                                    <label class="form-label" for="Search">Buscar Veículo</label>                           
                            </div>
                            <div class="form-floating col-4">
                                <input type="date" name="start_date" id="start_date" class="form-control col" placeholder="start_date">
                                <label for="start_date">Data Inicial</label>
                            </div>

                            <div class="form-floating col-4">
                                <input type="date" name="end_date" id="end_date" class="form-control col" aria-label="Data-final">
                                <label class="form-label" for="end_date">Data Final</label>
                            </div>
                        </div>
                        <div class="col-3 col-lg-1 col-md-2 col-sm-4 align-self-center">
                            <button type="submit" class="btn btn-danger btn-lg ">Buscar</button>
                        </div>
                    </div>
    
                </form>
            </div>
        </div>
        
        <!-- END Search BAR-->

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Veículo</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                <th scope="col">Tipo</th>
                <th scope="col">Observações</th>
            </tr>
        </thead>
        <tbody>
            {% for manutencao in manutencoes %}
                <tr>
                    <th scope="row">{{ manutencao.veiculo }}</th>
                    <td>{{ manutencao.data|date:"d-m-Y" }}</td>
                    <td>R${{ manutencao.valor }}</td>
                    <td>{{ manutencao.tipo }}</td>
                    <td>{{ manutencao.observacoes }}</td>
                    <td>
                        <a href="#" class="btn btn-danger">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- BEGIN: Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link link-dark" href="?search={{ request.GET.search|default:'' }}&start_date={{ request.GET.start_date|default:'' }}&end_date={{ request.GET.end_date|default:'' }}&page=1"><i class="bi bi-chevron-double-left"></i></a>
      </li>
      <li class="page-item">
        <a class="page-link link-dark" href="?search={{ request.GET.search|default:'' }}&start_date={{ request.GET.start_date|default:'' }}&end_date={{ request.GET.end_date|default:'' }}&page={{ page_obj.previous_page_number }}"><i class="bi bi-arrow-left-circle"></i></a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link link-dark"><i class="bi bi-arrow-left-circle"></i></span>
      </li>
    {% endif %}

    <li class="page-item">
      <span class="page-link current link-dark">
        {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
      </span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link link-dark" href="?search={{ request.GET.search|default:'' }}&start_date={{ request.GET.start_date|default:'' }}&end_date={{ request.GET.end_date }}&page={{ page_obj.next_page_number }}"><i class="bi bi-arrow-right-circle"></i></a>
      </li>
      <li class="page-item">
        <a class="page-link link-dark" href="?search={{ request.GET.search|default:'' }}&start_date={{ request.GET.start_date|default:'' }}&end_date={{ request.GET.end_date|default:'' }}&page={{ page_obj.paginator.num_pages }}"><i class="bi bi-chevron-double-right"></i></a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link"><i class="bi bi-arrow-right-circle"></i></span>
      </li>
    {% endif %}
  </ul>
</nav>
<!-- END: Pagination -->

{% endblock %}
