{% extends 'base_lojista.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

{% block content %}

            <!-- Search BAR-->
            <div class="container p-3 justify-content-between">
                <div class="row justify-content-between">
                    <form method="GET" action="{% url 'lista_veiculos' %}" class="col">

                        <div class="row justify-content-center">
                            <div class="col-8 col-lg-5 col-md-6 col-sm-7">
                                <div class="form-floating">
                                    <input type="text" name="search" id="search" class="form-control" placeholder="Search">
                                    <label class="form-label" for="Search">Buscar Veículo</label>
                                </div>
                            </div>
                            <div class="col-3 col-lg-1 col-md-2 col-sm-4 align-self-center">
                                <button type="submit" class="btn btn-danger btn-lg ">Buscar</button>
                            </div>
                        </div>

                    </form>
                    <div class="col align-self-center">
                        <a href="/area_do_lojista/cadastrar_veiculo/" class="btn btn-danger btn-lg ">Cadastrar Veículo</a>
                    </div>
                </div>
                  
            </div>
    {% if veiculos %}
        {% for veiculo in veiculos %}
            {% if not veiculo.vendido  %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ veiculo.modelo }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ veiculo.placa }}</h6>
                    <p class="card-text">{{ veiculo.ano }}</p>
                    <a href="/area_do_lojista/editar_veiculo/{{veiculo.id}}/" class="card-link">Editar</a>
                    <a href="/area_do_lojista/vender_veiculo/{{veiculo.id}}/" class="card-link">Vender</a>
                </div>
            {% endif %}
        {% endfor %}
        {% else %}
            <p>Nenhum veículo cadastrado</p>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}