{% extends 'base_lojista.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


{% block content %}
<style>

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #ff0000;
    border-color: #000000;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}


.bi:hover{
  color: red !important;
}
a{
  text-decoration: none !important;
}
a{
  text-decoration: none !important;
}
.form-check-input:checked{
  background-color: red;
}
</style>
    <h1 class="text-center text-danger">Veículos</h1>

    <!-- Search BAR-->       
      
            <form method="GET" action="{% url 'lista_veiculos' %}" class="row justify-content-center d-flex flex-wrap">


                          <div class="col-11 col-sm-5 col-md-4 col-lg-3 mb-2">
                            <div class="form-floating">
                                <input type="text" name="search" id="search" class="form-control" placeholder="Search" value="{{ request.GET.search|default:'' }}">
                                <label class="form-label" for="Search">Buscar Veículo</label>
                            </div>
                          </div>

                          <div class="form-check form-switch col-4 col-sm-2 col-lg-2 col-xl-1 align-self-center ml-2">
                            <input class="form-check-input" role="switch" id="flexSwitchCheckDefault" type="checkbox" value="on" name="vendido" {% if form.vendido.value == 'on' %}checked{% endif %}>
                            <label class="form-check-label" for="flexSwitchCheckDefault">
                                Vendido
                            </label>
                        </div>

                            <div class="col-6 col-sm-2 align-self-center text-center mb-2">
                                <button type="submit" class="btn btn-danger btn-lg ">Buscar</button>
                            </div>

            </form>            
        

    <!-- END Search BAR-->
   

        <table class="table table-striped table-responsive-md">
            <thead>
                <tr class="">
                    <th class=""><a href="/area_do_lojista/cadastrar_veiculo/" class="mr-2 link-dark"><i class="bi bi-car-front-fill text-danger"> Novo Veículo</i></a></th>                    
                    <th class=""><h4>Modelo</h4></th>
                    <th class=""><h4>Placa</h4></th>
                    <th class=""><h4>Ano</h4></th>

                </tr>
            </thead>
            <tbody>
                {% if veiculos %}
                {% for veiculo in veiculos %}                    
                    <tr class="">
                        <td class="d-flex flex-nowrap">
                          <a href="/area_do_lojista/editar_veiculo/{{veiculo.id}}/" class="mr-2 link-dark"><i class="bi bi-pencil-fill link-offset-3-hover"></i></a>
                          <a href="/area_do_lojista/nova_manutencao/{{veiculo.id}}/" class="link-dark mr-2"><i class="bi bi-wrench"></i></a>
                          {% if not veiculo.vendido %}
                          <a href="/area_do_lojista/vender_veiculo/{{veiculo.id}}/" class="link-dark"><i class="bi bi-cart-plus"></i></a>
                          {% endif %}
                        </td>                       
                        <th class="" scope="row">{{ veiculo.modelo }}</th>
                        <td class="">{{ veiculo.placa|upper }}</td>
                        <td class="">{{ veiculo.ano }}</td>                    

                    </tr>
                    
                    {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhum veículo em estoque</p>
    {% endif %} 


<!-- BEGIN: Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link link-dark" href="?vendido={{ request.GET.vendido|default:'' }}&search={{ request.GET.search|default:'' }}&page=1"><i class="bi bi-chevron-double-left"></i></a>
      </li>
      <li class="page-item">
        <a class="page-link link-dark" href="?vendido={{ request.GET.vendido|default:'' }}&search={{ request.GET.search|default:'' }}&page={{ page_obj.previous_page_number }}"><i class="bi bi-arrow-left-circle"></i></a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link link-dark"><i class="bi bi-arrow-left-circle"></i></span>
      </li>
    {% endif %}

    <li class="page-item">
      <span class="page-link current link-dark">
        {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
      </span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link link-dark" href="?vendido={{ request.GET.vendido|default:'' }}&search={{ request.GET.search|default:'' }}&page={{ page_obj.next_page_number }}"><i class="bi bi-arrow-right-circle"></i></a>
      </li>
      <li class="page-item">
        <a class="page-link link-dark" href="?vendido={{ request.GET.vendido|default:'' }}&search={{ request.GET.search|default:'' }}&page={{ page_obj.paginator.num_pages }}"><i class="bi bi-chevron-double-right"></i></a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link"><i class="bi bi-arrow-right-circle"></i></span>
      </li>
    {% endif %}
  </ul>
</nav>
<!-- END: Pagination -->



{% endblock %}